*{

    margin: 0;
    padding:0;
    background-color: #eeeeee;

}


header nav .menu{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 70px;
    
    }


header nav .menu .links{

align-items: center;
display: flex;

}

header nav .menu .links a{

    padding: 16px 12px;
    color: black;
    text-decoration: none;

}


header nav .iconos .img{

    padding: 21px 20px;
    border: none;

}


.contenedor .portada{

    border: 10px solid black;
    display: flex;
    flex-direction: row;
   
    justify-content: flex-end;

}
.contenedor .portada .texto
{
    width: 400px;
    border: 5px solid black;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contenedor .portada .texto .titulo{

    display: flex;
    justify-content: center;

}
.contenedor .portada .texto .boton
{

    display: flex;
    justify-content: center;
    
}
.contenedor .portada .texto .boton button{

   
    border-radius: 8px;
   
}

.contenedor .portada .recursoimagen {
    border: 5px solid black;
    width: 700px;
    margin: 10px;

}
.contenedor .portada .recursoimagen img
{
    width: 700px;
    height: 500px;
    
    
}

.contenedor2{

    padding-top: 50px;
    display: flex;
    flex-direction: row;
    border: 10px solid red;

}

.contenedor2 .flechaizq{

    display: flex;
    justify-content: space-around;

}

.contenedor2 .flechader{

    display: flex;
    justify-content: space-around;

}

.contenedor2 .bloque1{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.contenedor2 .bloque2{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.contenedor2 .bloque3{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.contenedor2 .bloque1 .boton{

    display: flex;
    justify-content: center;

}
.contenedor2 .bloque2 .boton{

    display: flex;
    justify-content: center;

}
.contenedor2 .bloque3 .boton{

    display: flex;
    justify-content: center;

}

.contenedor2 .bloque1 .boton button
{
    border-radius: 8px;
}
.contenedor2 .bloque2 .boton button
{
    border-radius: 8px;
}
.contenedor2 .bloque3 .boton button
{
    border-radius: 8px;
}

